<form [formGroup]="form">
  @if( form.controls.firstName.touched&&
  form.controls.firstName.hasError('required')){
  <small>Введите Имя</small>
  <br>
  }
  <label>
    <span>Имя</span>
    <input type="text" formControlName="firstName" />
  </label>
  @if( form.controls.lastName.touched&&
  form.controls.lastName.hasError('required')){
  <small>Введите Фамилию</small>
  <br>
  }
  <label>
    <span>Фамилия</span>
    <input type="text" formControlName="lastName" />
  </label>
  @if( form.controls.birthday.touched&&
  form.controls.birthday.hasError('required')){
  <small>Укажите год рождения</small>
  <br>
  }
  <div class="passport-wrapper mb8">
  <label class="label_select mb-16">
    <span>Год рождения</span>
    <select formControlName="birthday">
      @for (i of years; track $index) {
      <option value="{{ i }}">{{ i }}</option>
      }
    </select>
  </label>
  <label class="label_select mb-16">
    <span>Паспорт</span>
    <input type="text" formControlName="passport" />
  </label>
</div>
  <!-- <fieldset formGroupName="address">
    <legend>
      <span> Адрес </span>
    </legend>
    <label>
      <span>Город</span>
      <input type="text" formControlName="city" />
    </label>
    <label>
      <span>Улица</span>
      <input type="text" formControlName="street" />
    </label>
  </fieldset> -->

  <fieldset formArrayName="dadataAddresses" class="dadataAddresses">
    <legend>
      <span> Адрес </span>
    </legend>
    <div class="btn-wrapper">
      <button class="btn-primary phone-primary btn-w44" (click)="toAddDadataAddress()"></button>
    </div>
    @for(address of form.controls.dadataAddresses.controls; let i=$index ; track address; let last=$last){
      
      <app-dadata-address [formControlName]="i"></app-dadata-address>
      <button [ngStyle]="{'margin-bottom':last? '8px':'30px'}" class="btn-transparent address-transparent btn-w44" type="button" (click)="toDelDadataAddress(i)">
        Удалить адрес
      </button>
    }
  </fieldset>

  <!-- <app-dadata-address formControlName="dadataAddress"></app-dadata-address> -->

  <fieldset class="phones" formArrayName="phones">
    <legend>
      <span> Телефон </span>
    </legend>

    <div class="btn-wrapper mb20">
      <button
        class="btn-primary phone-primary btn-w44"
        (click)="addPhone()"
      ></button>
    </div>

    <div
      
      [formGroupName]="i"
      *ngFor="let item of form.controls.phones.controls; index as i"
    >
    @if( form.controls.phones.controls[i].controls.phone.touched&&
    form.controls.phones.controls[i].controls.phone.invalid&&
    form.controls.phones.controls[i].controls.phone.hasError('phoneNumberLengthValidate')){
    <small>{{form.controls.phones.controls[i].controls.phone.getError('phoneNumberLengthValidate')}}</small>
    }
    <div class="tel_wrapper">
      <select class="select-phone" formControlName="label">
        <option value="work">Рабочий</option>
        <option value="home">Домашний</option>
      </select>
      <input type="text" formControlName="phone" />
      <button
        class="btn-transparent phone-transparent btn-w44"
        type="button"
        (click)="delPhone(i)"
      ></button>
    </div>
    </div>
  </fieldset>
  <fieldset formGroupName="work">
    <legend>
      <span> Последнее место работы</span>
    </legend>
    @if( form.controls.work.controls.start.touched&&
    form.controls.work.controls.end.touched&&
    form.controls.work.hasError('datePickerValidate')){
    <small>{{form.controls.work.getError('datePickerValidate')}}</small>
    }
    
    <div class="date-wrapper mb8">
      <label class="date-width">
        <span>Начало</span>
        <input type="date" formControlName="start" class="date" />
      </label>
      <label class="date-width">
        <span>Окончание</span>
        <input type="date" formControlName="end" class="date" />
      </label>
    </div>
    @if( form.controls.work.controls.jobCompany.touched&&
    form.controls.work.controls.jobCompany.invalid){
    <small>Введите название организации </small>
    <br>
    }
    <label>
      <span>Название организации</span>
      <input type="text" formControlName="jobCompany" placeholder='ООО "Рога и Копыта"'/>
    </label>
  </fieldset>
 
    <fieldset formGroupName="features">
        <legend>
          <span> Дополнительно </span>
        </legend>
        @for(feature of form.controls.features.controls|keyvalue:sort; track feature; let i=$index){
        <div >
          <label class="feature-wrapper mb8">
          <input type="checkbox" [formControlName]="feature.key" class="checkbox"/>
          <span>{{features[i].label}}</span>
        </label>
      </div>
      }
      </fieldset>
   <label> 
    <span>Вопросы и предложения</span>  
  <textarea formControlName="textarea" placeholder="Введите текст..."></textarea>
  </label>
  <app-rating formControlName="rating"></app-rating>
  <div class="btn-wrapper">
    <button class="btn-primary submit" (click)="onSubmit()">Отправить</button>
  </div>
</form>
