:host {
  display: block;
  padding: 20px;
}

legend{
  padding-inline: 10px;
}

form {
  width: 40dvw;
  margin-inline: auto;
  padding: 20px;
  border: var(--border-light);
  border-radius: var(--border-radius);
}
fieldset {
  padding: 20px 20px 10px 20px;
  border: var(--border-light);
  border-radius: var(--border-radius);
  margin-bottom: 20px;

}
.dadataAddresses {
  padding-top: 10px;
}

.phones {
  padding-top: 10px;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: var(--border-light);
  margin-bottom: 8px;
  color: var(--light-color);
}

input,
select {
  height: 44px;
}

textarea {
  padding-block: 8px;
  height: 100px;
  font-size: 14px;
  resize: vertical;
}

button,
select {
  padding-inline: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: end;
}

.label_select {
  display: grid;
  gap: 8px;
}

select {
  font-size: 16px;
  color: var(--light-color);
  background-color: transparent;
  border: none;
  border-bottom: var(--border-light);
  margin-bottom: 8px;
}

option {
  background-color: var(--link-active-bg-color);
}

.tel_wrapper {
  display: flex;
  gap: 20px;
}

.phone-transparent,
.address-transparent {
  font-size: 24px;
  padding-block: 6px 14px;
  position: relative;
  border-color: tomato;
  flex-shrink: 0;
  &::after {
    content: '-';
    position: absolute;
    right: 17px;
    bottom: 11px;
    color: tomato;
  }

  &:hover {
    border-color: rgb(190, 35, 7);
    box-shadow: 0px 0px 10px -1px rgb(190, 35, 7);
    border-color: rgb(190, 35, 7);

    &::after {
      color: rgb(190, 35, 7);
    }
  }
}

.address-transparent{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: tomato;
  // margin-bottom: 30px;
  &:after{
    content: '';
  }

  
}

.phone-primary {
  font-size: 18px;
  height: 44px;
  position: relative;
  &::after {
    content: '+';
    position: absolute;
    right: 15px;
    bottom: 8px;
  }
}

.select-phone {
  font-size: 14px;
}
.btn-primary{
  
  padding-inline: 20px;
}

.submit{
  margin-block-start: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.checkbox{
  height: 18px;
  width: 18px;
  accent-color: var(--primary-color);
}

.feature-wrapper{

  display: flex;
  gap: 16px;
  align-items: center;
  span{
    font-size: 14px;
    display: block;
  }
}

.date-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.date::-webkit-calendar-picker-indicator{
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
}

.date-width{
  width: 100%;
}

.date{
  font-size: 16px;
}

small{
  color: tomato;
  font-size: 12px;
  
}

input.ng-touched.ng-invalid{
  border-color: tomato;
}

.passport-wrapper{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 40px;
}